.footer {

        display: flex;
        gap: 2rem;
        background: linear-gradient(90deg, rgb(19, 19, 24), 0%, rgb(48, 47, 53) 100%);

    }

.footer-content {
        flex: 2;  
        margin-left: 80px;
    }

    .footer-content img {

        margin-left: 120px;
    }

.footer-content-right-col1,
.footer-content-right-col2,
.footer-content-right-col3 {
    flex: 1;
}

.footer-content-left {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-left: 40px;
}

.copyright {
    background: linear-gradient(90deg, rgb(77, 76, 92), 0%, rgb(48, 47, 53) 100%);
    text-align: center;
    padding: 1rem 0;
    padding: 1rem;
    margin-top: 1px;
}

.copyright1 {
    text-align: center;
   font-style: bold;
}

.heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 1rem;
}
