.footer {

        display: flex;
        gap: 2rem;
        background: linear-gradient(to right, #14163c 0%, #434549 79%);

    }

.footer-content {
        flex: 2;  
        margin-left: 80px;
    }

    .footer-content img {

        margin-left: 120px;
    margin-top: 3rem;
    }

.footer-content-right-col1,
.footer-content-right-col2,
.footer-content-right-col3 {
    flex: 1;
    margin-top: 1rem;
}

.footer-content-left {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-left: 40px;
    margin-top: 1rem;
}

.copyright {
    background: linear-gradient(to right, #14163c 0%, #434549 79%);
    text-align: center;
    padding: 1rem 0;
    padding: 1rem;
    margin-top: 2px;
    font-weight: bold;
}

.copyright1 {
    text-align: center;
   font-style: bold;
}

.heading {
    font-size: 2rem;
    margin-bottom: 1rem;
}

li {
    margin-bottom: 1rem;
}
