*{
    box-sizing: border-box;
}

.containers {

    background-image: url('../../assets/bck.jpg');
    align-items: center;
    width:100vw;
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

h2{
  text-align: center;
}

.row {
    background: linear-gradient(to right, #14163c 0%, #434549 79%);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    width: 65%;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;
    width: 30vw;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border-radius: 10px;
    color: #ffffff;

}

.text {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  width: 100%;
}

.button {
    margin: 1rem 0 2rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ptxt {
    cursor: pointer;
    font-size: 1.2rem;
    color: #ffffff;

}

a {
    text-decoration: underline;
    font-size: 1.2rem;
    color: #ffffff;
}

a:hover {
    color: #656568;
}
input {
    background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 2rem;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: #fbfbfc;
  font-size: 1rem;
  font-weight: bold;
}

  input:focus {
    display: inline-block;
    box-shadow: 0 0 0 0.2rem #b9abe0;
    backdrop-filter: blur(12rem);
    border-radius: 2rem;
  }

  input[placeholder] {
    color: #ffffff99;
    font-weight: 100;
    font-size: 1rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #e9e7f0;
    margin-bottom: 0.5rem;

}