#svideo{
    position: relative;
    width: 100%;
    height: 100;
    object-fit: cover;
    z-index: -1;
}

.Video {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.txt {
    text-align: left;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    top: 25vh;
    margin-left: 180px;
}

.Video .txt h1{
    font-size: 6rem;
    color: #fff;
}

.Video .txt h3{
    font-size: 4rem;
    color: #fff;
    text-align: left;
    
}

.Video .txt p{
    font-size: 1.5rem;
    color: #fff;
    text-align: left;
    
}
#Title:before{
    content: "";
    animation: animate 7s linear infinite;
}


@keyframes animate {
    0% {
        content: "Hello";
    }
    20% {
        content: "Hola";
    }
    30% {
        content: "Ciao";
    }
    40% {
        content: "Hai";
    }
    50% {
        content: "你好";
    }
    60% {
        content: "こんにちは";
    }
    70% {
        content: "안녕하세요";
    }
    80% {
        content: "nǐn hǎo";
    }
    90% {
        content: "olá";
    }
    100% {
        content: "اسلام علیکم";
    }
    110% {
        content: "Bonjour";
    }
}