nav.Header {
    background: linear-gradient(to right, #1c1e3f 0%, #1f232b 79%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.Header-logo {
    color: #fff;
    justify-self: start;
    margin-left: 0px;
    cursor: pointer;
}

/* .logo {
    margin-left: 0.5rem;
    font-size: 25px;
} */

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70w;
    justify-content: end;
    margin-right: 2rem;
}

.header-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.header-links:hover {
    color: #6c6e86;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.header-links-mbl{
    display: none;
}

.Menu {
    display: none;
}

@media screen and (max-width: 960px) {
    .Menu {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 600px;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 1;
        transition: all 0.4s ease;;
    }

    .nav-menu.active {
        background:  #3d3d44;
        left: 0;
        opacity: 1;
        transition: all 0.4s ease;
        z-index: 1;
    }

    .header-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .header-links:hover {
        background-color: #e6e6ee;
        border-radius: 0;
    }

    .Header-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);

    }

    .Menu {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .fa-times {
        color: #fff;
        font-size: 2rem;
    }

    .header-links-mbl {
        display: block;
        text-align: center;
        padding: 2rem;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        background: #163133;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .header-links-mbl:hover {
        background: #fff;
        color: #e4f3f5;
        transition: 250ms;
    }

    Button{
        display: none;
    }
}