.gamep {
    margin-left: 10%;
}

#game1 {
    margin-left: 10%;
    width: 60%;
    height: 20%;
    margin-right: 60%;
}

#game2 {
    
    width: 60%;
    height: 20%;
    margin-right: 90%;
}

.pgame {
    width: 500px;
    margin-left: 9%;
    color: white;
}

.pgame1 {
    width: 500px;
    margin-right: 79%;
}

#game {
    margin-left: 15%;
    width: 30%;
    height: 20%;
    margin-right: 60%;
}

.pgames {
    width: 500px;
    margin-left: 14%;
}

@media screen and (max-width: 960px) {
    #game1 {
        width: 60%;
        height: 20%;
        margin-right: 60%;
    }

    .pgame {
        width: 300px;
        margin-left: 9%;
        color: white;
    }
    #game2 {
        width: 60%;
        height: 30%;
        margin-right: 90%;
        /* margin-bottom: 19%; */
        margin-top: 20%;
    }
    .pgame1 {
        width: 300px;
        margin-right: 79%;
        margin-bottom: 18%;
    }
    .gamerow {

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 4rem;
        position: relative;
        gap: 4rem;
        margin-left: 5rem;
        
    }

}