
.bck{
  background: url('../../assets/Map.PNG') no-repeat;
  background-position: center;
  background-size: cover;
    width: 100%;

}    
    .map_container {
      position: relative;
      min-height: 700px;
      border-radius: 10px;
      box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
      margin-top: 10px;
      margin-bottom: 8px;
    }
    .map {
      position: absolute;
      right: 10%;
      bottom: 10%;
      padding: 2rem;
      background: var(--deep-dark);
      width: 100%;
      max-width: 300px;
      border-radius: 12px;
    }

    .map-link {
      display: inline-block;
    font-size: 1.8rem;
    /* margin-top: 3rem; */
    background: linear-gradient(to right, #14163c 0%, #434549 79%);
    /* text-transform: uppercase; */
    /* letter-spacing: 0.1rem; */
    width: 28%;
    height: 3rem;
    margin-top: 28rem;
    /* color: white; */
    border-radius: 2rem;
    /* cursor: pointer; */
    text-align: center;
    margin-left: 45rem;
    }

