
    .map_container {
      position: relative;
      min-height: 400px;
    }
    .map {
      position: absolute;
      right: 10%;
      bottom: 10%;
      padding: 2rem;
      background: var(--deep-dark);
      width: 100%;
      max-width: 300px;
      border-radius: 12px;
    }
    .map-heading {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    .map-link {
      display: inline-block;
      font-size: 1.6rem;
      margin-top: 3rem;
      text-decoration: underline;
      color: var(--light-blue);
    }